<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDHbvJCAeuFOO0Goo49KB-Vwvk4966d3CI</string>
	<key>GCM_SENDER_ID</key>
	<string>551061013246</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.deliveryFood</string>
	<key>PROJECT_ID</key>
	<string>delivery-food-fc79a</string>
	<key>STORAGE_BUCKET</key>
	<string>delivery-food-fc79a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:551061013246:ios:0df7e65c84bd967f1c9baf</string>
</dict>
</plist>